name: CI

on:
    pull_request:
      branches:
        - '**'

jobs:

    micro_ros_platformio:
        runs-on: ubuntu-20.04
        container: ubuntu:20.04

        strategy:
          fail-fast: false
          matrix:
            platform: [teensy41, teensy40, teensy36, teensy35, teensy31, due, zero, olimex_e407, esp32dev, nanorp2040connect, portenta_h7_m7, teensy41_eth, nanorp2040connect_wifi, portenta_h7_m7_wifi, esp32dev_wifi, portenta_h7_m7_galactic, portenta_h7_m7_foxy, portenta_h7_m7_rolling, teensy41_custom, pico]

        steps:
        - uses: actions/checkout@v3
          with:
            path: repo
        - name: Install environment
          uses: ./repo/.github/actions/platformio-env
        - name: Build
          shell: bash
          run: |
            export PATH=$PATH:~/.platformio/penv/bin
            cd repo/ci
            pio run -e ${{ matrix.platform }}
